<ion-header>
  <ion-navbar>
    <ion-title>My Workouts</ion-title>
    <!--<button class="button" ng-click="addWorkout()" side="primary">-->
    <!--</button>-->
    <ion-buttons end>
      <button ion-button icon-only (click)="addWorkout()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button>
  </ion-list>
</ion-content>
